# Dependency directories
/node_modules/
/dist/
/build/

# Environment and cache files
.env*
.cache/

# Test coverage and output
coverage/
.nyc_output/
__tests__/snapshots/
test-output/
jest-html-reporters-*

# IDE settings
.vscode/

# Debug and log files
pnpm-debug.log*
*.log

# Build artifacts
*.tsbuildinfo
*.css.map